*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}
/* Container */
.container {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-areas:
    ".... .... ...."
    ".... nav ...."
    ".... hero ...."
    ".... blog ...."
    ".... .... ....";
  gap: 1em 0;

  max-width: 480px;
}

/* Navbar */

.navbar,
.navbar-divider {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  grid-area: nav;
}

.navbar-logo {
  gap: 0.2em;
}

.navbar-title {
  color: #0e0e0e;
  font-weight: 500;
}

.navbar-icon {
  height: 24px;
  width: 24px;
}

.navbar-navs {
  gap: 1.75em;
}

.navbar-navs a {
  text-decoration: none;
  color: #090909;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Header */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: hero;
}

.header-image {
  max-width: 480px;
}

/* Main - Blog sections */
.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: blog;
}

.blog {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.blog-image {
  max-width: 350px;

}

.blog-date {
  color: #000;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.blog-title {
  color: #141414;
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-content {
  color: #505050;
  font-size: 1rem;
}
