*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

/* Navbar */

.navbar,
.navbar-divider {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: space-between;
  padding: 1em 2em;
}

.navbar-logo {
  gap: 0.2em;
}

.navbar-title {
  color: #0e0e0e;
  font-weight: 500;
}

.navbar-icon {
  height: 24px;
  width: 24px;
}

.navbar-navs {
  gap: 1.75em;
}

.navbar-navs a {
  text-decoration: none;
  color: #090909;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Header */

.header-image {
}